@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        background-color: #F6F5F1;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
}

.container {
    @apply w-[1044px]
}

h1 {
    @apply text-[48px] text-[#412F22] font-bold leading-[57px]
}

h2 {
    @apply text-[32px] font-bold
}

h3 {
    @apply text-[20px] font-bold
}

p {
    @apply text-[16px]
}